@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.SliderRoot[data-orientation='vertical'] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.SliderTrack[data-orientation='vertical'] {
  width: 3px;
}

.SliderRange[data-orientation='vertical'] {
  width: 100%;
}
